.App {
  margin: 20px;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--front {
  background-color: hotpink;
  background:  url(http://placekitten.com/g/300/400);
  background-size: cover;
  color: white;
}

.card--back {
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3pt;
  font-size: 24pt;
  font-weight: 400;
}